{{ partial "header.html" . }}
{{ if .Params.tags }}
  <strong>Tag{{ if gt (len .Params.tags) 1 }}s{{ end }}:</strong>
  {{ range $index, $tag := .Params.tags }}
    {{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
{{ end }}
{{ end }}
{{ .Content }}
<footer class=" footline">
  written by <i class='fa fa-user'></i> <a href="mailto:{{ .GitInfo.AuthorEmail }}">{{ .GitInfo.AuthorName }}</a>
  {{ with .GitInfo.AuthorDate }}
  on <i class='fa fa-calendar'></i> {{ .Format "02/01/2006" }}
  {{ end }}
</footer>
{{ partial "adsense.html" . }}
{{ partial "disqus.html" . }}
{{ partial "footer.html" . }}
{{ template "_internal/google_analytics_async.html" . }}
